<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="Scripts/jquery.nivo.slider.js"></script>
    <link href="CSS/nivo-slider.css" rel="stylesheet" />
    <link href="CSS/site.css" rel="stylesheet" />
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
    <title></title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="headerContent">
                <div id="onairStatus">
                    <img src="Images/on-air.jpg" />
                </div>

                <div id="searchAndLogin">
                    <div id="logInOut">You are logged in as: <img src="Images/logged-in.png" /> Andy (admin) </div>  
                    <form id="srchForm" method="post">
                        <div id="searchBox"><input type="text" value="Search..."/>
                            <div id="searchGlass"><input type="image" src="Images/search-glass.png" /></div></div>
                    </form>
                </div>

            </div>
        </div>

        <div id="Content">
            <div id="leftRip">
                <img src="Images/main-left-rip.png" />
            </div>

            <div id="leftInfo">

                <div id="currentTrack">
                    <div class="ripT"><img src="Images/currenttrack-top.png" /></div>
                    <div class="Info">
                        <div class="ctHeader">Current Track</div>
                        <div id="ctCoverArt"><img src="Images/track-cover.jpg" /></div>
                        <div class="ctHeaderItalic">The Libertines</div>
                        <div class="ctHeaderItalic">Can't Stand Me Now</div>
                    </div>
                    <div class="ripB"><img src="Images/currenttrack-bot.png" /></div>
                </div>

                <div id="voteSkip">
                    <div class="Info">
                        <div class="vHeader">Vote</div>
                        <div class="vHeaderSMItalic">Like this track / Skip this track</div>
                        <div id="voteHolder">
                            <div class="voteOn"><img src="Images/note-on.png" /></div>
                            <div class="voteOn"><img src="Images/note-on.png" /></div>
                            <div class="voteOn"><img src="Images/note-on.png" /></div>
                            <div class="voteOff"><img src="Images/note-off.png" /></div>
                            <div class="voteOff"><img src="Images/note-off.png" /></div>
                            <div class="voteOff"><img src="Images/note-off.png" /></div>
                            <div class="voteOff"><img src="Images/note-off.png" /></div>
                            <div class="voteOff"><img src="Images/note-off.png" /></div>
                            <div class="voteOff"><img src="Images/note-off.png" /></div>
                            <div class="voteOff"><img src="Images/note-off.png" /></div>
                        </div>
                    </div>
                    <div id="voteButtons">
                        <a href="#" class="voteLike"></a>
                        <a href="#" class="voteSkip"></a>
                    </div>
                    <div class="ripB"><img src="Images/vote-bot.png" /></div>
                </div>

                <div id="dedication">
                    <div class="Info">
                        <div class="dtHeader">Requested By:</div>
                        <div class="dtHeaderItalic">Andy Poole</div>
                        <div class="dtHeader">Dedicated To:</div>
                        <div class="dtHeaderItalic">Andy Poole</div>
                        <div class="dtHeader">Comments:</div>
                        <div class="dtHeaderItalic">This is a good track.  </div>
                    </div>
                    <div class="ripB"><img src="Images/dedicated-bot.png" /></div>
                </div>
            </div>

            <div id="mainContent">
                <div id="mainBanner">
                    <div id="slider" class="nivoSlider">
                        <a href="#"><img src="Images/mainbanner-soundwave.jpg" /></a>
                        <a href="#"><img src="Images/mainbanner-headphones.jpg" /></a>
                        <a href="#"><img src="Images/mainbanner-jukebox.jpg" /></a>
                        <a href="#"><img src="Images/mainbanner-orangeband.jpg" /></a>
                    </div>
                </div>

                <div id="mainPage">
                    <div id="pageTitles">
                        <img src="Images/banner-bottom-headers.png" />
                    </div>

                    <div id="searchResults">
                        <div class="resultsItem">
                            <ul onclick="Javascript:alert('You Clicked Me!!!')">
                                <li class="riNumber">1</li>
                                <li class="riThumb"><img src="Images/search-1.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Wonderwall</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 4:19
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">2</li>
                                <li class="riThumb"><img src="Images/search-2.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Stand By Me</span><br />
                                    <span class="trackAlbum">Be Here Now</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1997
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 5:56
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">3</li>
                                <li class="riThumb"><img src="Images/search-3.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Roll With It</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 3:59
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">1</li>
                                <li class="riThumb"><img src="Images/search-1.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Wonderwall</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 4:19
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">2</li>
                                <li class="riThumb"><img src="Images/search-2.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Stand By Me</span><br />
                                    <span class="trackAlbum">Be Here Now</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1997
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 5:56
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">3</li>
                                <li class="riThumb"><img src="Images/search-3.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Roll With It</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 3:59
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">1</li>
                                <li class="riThumb"><img src="Images/search-1.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Wonderwall</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 4:19
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">2</li>
                                <li class="riThumb"><img src="Images/search-2.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Stand By Me</span><br />
                                    <span class="trackAlbum">Be Here Now</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1997
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 5:56
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">3</li>
                                <li class="riThumb"><img src="Images/search-3.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Roll With It</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 3:59
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">1</li>
                                <li class="riThumb"><img src="Images/search-1.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Wonderwall</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 4:19
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">2</li>
                                <li class="riThumb"><img src="Images/search-2.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Stand By Me</span><br />
                                    <span class="trackAlbum">Be Here Now</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1997
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 5:56
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">3</li>
                                <li class="riThumb"><img src="Images/search-3.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Roll With It</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 3:59
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">1</li>
                                <li class="riThumb"><img src="Images/search-1.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Wonderwall</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 4:19
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">2</li>
                                <li class="riThumb"><img src="Images/search-2.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Stand By Me</span><br />
                                    <span class="trackAlbum">Be Here Now</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1997
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 5:56
                                </li>
                            </ul>
                        </div>

                        <div class="resultsItem">
                            <ul>
                                <li class="riNumber">3</li>
                                <li class="riThumb"><img src="Images/search-3.jpg" /></li>
                                <li class="riTrack">
                                    <span class="trackHeader">Roll With It</span><br />
                                    <span class="trackAlbum">What's the story morning glory</span>
                                </li>
                                <li class="riArtist">
                                    <span class="trackHeader">Oasis</span><br />
                                    Year 1995
                                </li>

                                <li class="riTime">
                                    <span class="trackHeader"></span><br />
                                    Time: 3:59
                                </li>
                            </ul>
                        </div>



                    </div>

                    <div id="upNext">


                        <div class="upnextItem">
                            <ul>
                                <li class="unThumb"><img src="Images/upnext-1.jpg" /></li>
                                <li class="unTrack">
                                    <span class="trackHeader">Birdy</span><br />
                                    <span class="trackAlbum">Fire Within - 2013</span>
                                    <span class="trackTitle">Wings</span> <br />
                                    <span class="trackAlbum">Time: 4:36</span>
                                </li>
                            </ul>
                        </div>

                        <div class="upnextItem">
                            <ul>
                                <li class="unThumb"><img src="Images/upnext-2.jpg" /></li>
                                <li class="unTrack">
                                    <span class="trackHeader">Eagles</span><br />
                                    <span class="trackAlbum">Hotel California - 1977</span>
                                    <span class="trackTitle">Hotel California</span> <br />
                                    <span class="trackAlbum">Time: 6:30</span>
                                </li>
                            </ul>
                        </div>

                        <div class="upnextItem">
                            <ul>
                                <li class="unThumb"><img src="Images/upnext-3.jpg" /></li>
                                <li class="unTrack">
                                    <span class="trackHeader">Pink Floyd</span><br />
                                    <span class="trackAlbum">Wish You Were Here - 1975</span>
                                    <span class="trackTitle">Wish You Were Here</span> <br />
                                    <span class="trackAlbum">Time: 5:40</span>
                                </li>
                            </ul>
                        </div>

                        <div id="trackWarning">
                            <img src="Images/low-track-warning.png" /></div>






                    </div>
                </div>
            </div>
            <div id="rightRip"><img src="Images/main-right-rip.png" /></div>
        </div>


    </div>

</body>
</html>
