<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ title }}</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/blitzer/jquery-ui.min.css">
    <link rel="stylesheet" href="http://layout.jquery-dev.net/lib/css/layout-default-latest.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="http://layout.jquery-dev.net/lib/js/jquery.layout-latest.js"></script>

    <script src="js/index.js"></script>
    <script type="text/javascript" src="/mopidy/mopidy.min.js"></script>

    <style>
        #dvMainContainer {
            height: 100%;
        }

        #dvSearch {
            height: 50px;
        } 
        
        #dvLeft {
            height: 100px;
        }

        #dvCentre {
            height: 100px;
        }

        #dvRight {
            height: 100px;
        }

        #dvBottom {
            height: 100px;
        }
    </style>
</head>
<body>
    <div id="dvUser" style="text-align:right;">
        <!--{{ rpiConfig }}-->
        {% if current_user %}
        Logged in as: {{ current_user }}
        {% end %}
        <!-- If user is an admin -->
        {% if permissionLevel == '2' %}
        <img src="http://royalearn.net/aimg/login.png" width="20px" height="20px" alt="adminIcon" />
        {% end %}
        &nbsp  &nbsp
        <span id="spnConnectionStatus">Connecting....</span>
    </div>
    <!-- Hide everything until connected to Mopidy -->
    <div id="dvMainContainer" style="display:none;">
        <div id="dvSearch">
            <input type="text" id="txtSearch" /> <input type="button" id="btnSearch" value="Search" onclick="search()" />
        </div>


        <div id="dvLeft">
            <div id="currentTrack">
                Current Track
                <div id="artwork">
                    <img src="" id="imgArtwork" />
                </div>
                <div id="artist">

                </div>
                <div id="trackname">

                </div>
            </div>
        </div>
        <div id="dvCentre">
            Search results
            </br>
            </br>


        </div>
        <div id="dvRight">
            dvRight
        </div>
        <div id="dvBottom">
            {% if permissionLevel == '2' %}
            <div id="djControl">
                <input type="button" id="btnPlay" value="Play" />
                <input type="button" id="btnPause" value="Pause" />
                <input type="button" id="btnStop" value="Stop" />
                <input type="button" id="btnSkip" value="Skip" />

            </div>
            {% end %}
        </div>
    </div>
    <input type="hidden" id="hdnCurrentUser" value={{ current_user }} />
</body>
</html>
